$font-family-base: 'Roboto', sans-serif;

$brand-primary: #008fa1;
$brand-secondary: #007888;

// Button
$btn-padding-x: 15px;
$btn-padding-y: 8px;
$btn-border-radius: 2px;

@import "~bootstrap/scss/variables";
